[2017-07-14 11:06] aaronjbrown opened #1 "DataStream missing"
When compiling, I get "fatal error: 'DIS/DataStream.h' file not found" and if I "touch DIS/DataStream.h" I get multiple "error: unknown type name 'DataStream'"

[2017-07-14 11:18] aaronjbrown commented on #1
cd open-dis-cpp/Compile/gnu.linux
make
==== Building DIS ====
make[1]: *** No rule to make target `../../cpp/DIS/DataStream.h', needed by `obj_gnu_DIS_debug/AcknowledgePdu.o'.  Stop.
make: *** [DIS] Error 2

touch ../../cpp/DIS/DataStrem.h
make
==== Building DIS ====
AcknowledgePdu.cpp
In file included from ../../cpp/DIS/AcknowledgePdu.cpp:1:
In file included from ../../cpp/DIS/AcknowledgePdu.h:4:

[2017-07-14 22:54] aaronjbrown commented on #1
From open-dis-cpp/cpp/DIS/ I ran:
ln -s ../../CppUtils/DIS/DataStream.h
ln -s ../../CppUtils/DIS/DataStream.cpp

then from open-dis-cpp/Compile/gnu.linux I could run make, with the result:
...
VariableDatum.cpp
Vector3Double.cpp
Vector3Float.cpp
VectoringNozzleSystemData.cpp
WarfareFamilyPdu.cpp
Conversion.cpp
DataStream.cpp
IncomingMessage.cpp
PacketFactory.cpp
PDUBank.cpp
../../CppUtils/DIS/PDUB

[2017-07-20 03:00] leif81 commented on #1
Thanks @aaronjbrown . I personally haven't built the c++ library in a while so I'm not sure how much I can help off the top of my head. But this is a good reminder we should setup a TravisCI job for his repository, similar to what we have for the open-dis-java library, to demonstrate it compiling.

[2017-07-20 17:02] leif81 commented on #1
@aaronjbrown Once the `travis` branch is merged in I'll ask you retry your build, I think it'll resolve your problems.

[2017-07-20 17:49] mcgredonps commented on #1
Thanks Leif, my current sickness very much limits my ability to do stuff that
needs to be done.

On Jul 20, 2017, at 10:02 AM, Leif Gruenwoldt <notifications@github.com<mailto:notifications@github.com>> wrote:

@aaronjbrown<https://github.com/aaronjbrown> Once the travis branch is merged in I'll ask you retry your build, I think it'll resolve your problems.

—
You are receiving this because you ar

[2017-07-21 17:13] #1 closed

[2017-07-24 14:14] leif81 opened #3 "Replace HawkNL in examples"
I'm not terribly familiar with the HawkNL library, but from what I can tell it used to be very popular, but looks to be no longer maintained and fallen out of popularity. So to get the `Examples` code compiling we may want to pick a replacement library.

I don't do much C++ dev these days, so I'm out of the loop in terms of what people actually use, but a couple potential replacement options that

[2017-07-24 14:15] leif81 commented on #1
@aaronjbrown The PR auto-closed this issue when it was merged. But feel free to reopen it if it didn't fix your issue.

[2017-07-24 21:11] aaronjbrown commented on #1
Thank you Leif! I pulled the latest and it compiles without issues on Mac, I haven't retested on my Ubuntu but the TravisCI is Ubuntu :) Thanks for your effort, and for looking at it so quick!

[2017-11-20 08:22] giorossi91 opened #4 "Link to HawkNL library not working in Examples"
The link to the **HawkNL** library in the CPP example ([http://www.hawksoft.com/hawknl/](http://www.hawksoft.com/hawknl/)) returns `404` HTTP error code.

[2017-11-20 15:01] leif81 commented on #4
Thank you for the report @giorossi91

#3 is a similar issue so I'm going to close this one. Please feel free to submit a pull request for it.

[2017-11-20 15:01] #4 closed

[2018-04-10 19:18] aprowe opened #6 "Variable Datum in DIS7"
Hello,

In DIS7/VariableDatum.h, variableDatumBits is an `unsigned int` instead of `  std::vector<EightByteChunk> `

[code]

it looks like DIS7/VariableDatium.cpp uses DIS/VariableDatum.h, so looks like this code isn't event compiling.

Thanks for your work!

[2018-04-10 19:19] aprowe commented on #6
Also, while I have your attention whats the difference between DIS and DIS7?

[2018-04-10 19:31] leif81 commented on #6
Thanks @aprowe

DIS is v6.

[2018-04-10 19:48] leif81 commented on #6
The build (`premake5.lua` file) is only compiling DIS (v6) by the looks of it. Unless you really want DIS v7, I would suggest just using v6, very few things use DIS v7 from my knowledge.

Ya that certainly looks like a typo to me, I don't see why the `DIS7/VariableDatium.cpp` wouldn't include `DIS7/VariableDatium.h`.

Do you want to submit a pull request for these things?

[2018-04-10 20:26] leif81 commented on #6
I think you found a larger issue. It appears many (or all?) of the DIS7 `.cpp` files point to the DIS folder for the `.h`. I suspect that's not right!

[2018-04-12 22:36] leif81 commented on #6
Something else I noticed that will likely be problematic is that the namespace for both the DIS and DIS7 folders are both "DIS", so things presumably would collide if we built them both into the same library.

Short term...I'll stick to my earlier suggestion to just use the DIS (6) implementation unless you desparately need DIS7 support, which is rare.

[2018-04-16 16:51] mgibson2020 opened #7 "Issues building with open dis"
Hi there. My team and I are trying to use the examples given to build our own project but every time we try to implement anything within open like the DIS::IncomingMessages we get the following error:

"unresolved external symbol "__declspec(dllimport) ..."

We have all the header files in our project, linked OpenDIS.lib and copied OpenDIS.dll to the project folder. Are we missing something or is

[2018-04-17 16:03] leif81 commented on #7
If you have the headers and `.lib`, you shouldn't need the `.dll`.

[2018-04-23 23:53] leif81 commented on #7
@mgibson2020 did this suggestion work out for you?

[2018-05-01 03:40] leif81 commented on #7
@mgibson2020 I'm going to close this because we didn't get a response so I'm going to assume it worked. Feel free to reopen if you're still having issues.

[2018-05-01 03:40] #7 closed

[2018-05-10 03:43] aprowe commented on #6
Thanks for the responses, @leif81

I found another problem- VariableDatum is reporting and serializing the number of EightByteChunks as it's length; i.e. two chunks is giving a length of 2, when according to the DIS protocol, it should be the number of bits. changing it to (num of eight byte chunks) * 8 * 8 gave the correct number of bits.

It didn't come up before, because it's working as impleme

[2018-05-10 14:31] leif81 commented on #6
That'd be great, thank you @aprowe

[2018-05-22 12:46] dilavni opened #8 "segmentation fault in VariableDatum::unmarshall"
https://github.com/open-dis/open-dis-cpp/blob/64200a2bf7de4041a050b2612bcd5502a836742a/cpp/DIS/VariableDatum.cpp#L113

There is no check for if _arrayLength is in fact larger than STATIC_ARRAY_LENGTH. If you get a VariableDatum larger than the allowed static array length, this blows in your face.

Thank you for your work!

[2018-05-22 13:32] leif81 commented on #8
Thank you @dilavni .

Would you like to submit a pull-request with a proposed fix?

[2018-05-22 13:47] dilavni commented on #8
Well I fixed it temporarily locally according to RAII by throwing an exception, which will be dealt by my factory (thrown to trash, I don't want a half constructed PDU anyway), but I don't know how you'd like to have this fixed in the library.

I see there being basically three options:
1. throw an exception (my preferred), might not fit your library ideology
2. zombie / half constructed variable

[2018-05-22 14:20] leif81 commented on #8
Great analysis.

I think I like option 3 the most. And now that you said it, I remember there is a comment about this here:

https://github.com/open-dis/open-dis-cpp/blob/64200a2bf7de4041a050b2612bcd5502a836742a/cpp/DIS/VariableDatum.h#L7-L8

[2018-05-22 14:29] dilavni commented on #8
You're correct. The developer had the right hunch.

I think the easiest solution so to go with std::vector<char> _variableDatums; with .reserve(STATIC_ARRAY_LENGTH) call in the constructor. That way there are no extra allocations unless the datum is larger than the 128 bytes mentioned.

Unfortunately my dev environment is air-gapped and the machine I'm writing this is not a development system. I'l

[2018-05-22 14:34] dilavni commented on #8
also one has to remember to add the try{] catch block to the resize() call, if you want no throws. Then there is still the question of what to do with a zombie datum.

[2018-05-22 19:35] leif81 commented on #8
Fixed in PR #9

[2018-05-22 19:35] #8 closed

[2018-06-01 11:17] dilavni opened #10 "Signal PDU misinterpretation"
https://github.com/open-dis/open-dis-cpp/blob/86e8c24edfd0132ef3f4e38c0f17067781e6c892/cpp/DIS/SignalPdu.cpp#L98-L114

There are multiple errors here. First of all "_dataLength" in interpreted incorrectly as bytes, when it's in fact bits / or a constant value when using the encoding scheme for database index.

From the standard: (emphasis added): "Data Length - This field shall specify the number

[2018-06-01 15:37] leif81 commented on #10
Thank you @dilavni Nice catch!

If I recall, a similar fix was needed to the `open-dis-java` library. There's a trend happening here! Here's that patch if it helps confirm your thoughts.

https://github.com/open-dis/open-dis-java/commit/9b20d4d0f0992157dcd4a0ecf1e8ae62717e984e#diff-5d13a4f131b76879516bb03083caae46

If you are interested in submitting a PR it would be welcomed!

[2018-06-02 15:44] dilavni commented on #10
I wonder if the data is always aligned to 8-bits (_dataLength % 8 always zero). If it cannot assumed to be, there might be a problem in the design, as the user is able to manipulate the data field directly and the "data length" field is automatically calculated from the size of data (which is just bytes)

[2018-06-05 15:40] leif81 commented on #10
Hmm yes, I remember this being confusing in the `open-dis-java` library too. Most of the code was auto generated so that's why in some areas it's a bit raw.

If I recall, the `setData`, `getData`, `setDataLength`, `getDataLength` should be the data *without* the zero'd padding.  And the library should be padding the `_data` field for free as part of the `marshall` and `unmarshall calls. But, I don

[2018-06-05 15:54] leif81 commented on #10
I don't think I answered your question yet. The `_data` field is made of `OneByteChunk`'s so ya it'll be aligned to 8-bits.

[2018-06-05 17:05] dilavni commented on #10
In the current implementation yes, but what does the standard say? If the data length field is defined in bits, it would stand to reason that it doesn't necessarily align to a byte boundary (talking of the designated data of course; the PDU itself will always align). If the standard says that it's in bits for no real reason and the data length field % 8 is always zero then the fix is quick and eas

[2018-06-05 17:28] leif81 commented on #10
Ok, I see. In practice I've never encountered data that wasn't 8-bit aligned, the spec doesn't say it *must* be, so you're probably right. Yes, `getData` would return back too much data and the user will have to trim it based on the length field.

Here's what the spec says:

On length:

On data:

And here's what the 6.3.2 reference says:

[2018-06-21 14:08] EricaAngle opened #11 "Can't be compile"
it seems some files are missing.
eg: DIS/msLibMacro.h can't be found.
      DIS/SyntheticEnvironmentFamilyPdu.h

[2018-06-21 14:22] leif81 commented on #11
Hi @EricaAngle thank you for the report.

Could you describe how you are trying to compile?

There is an example for how to compile in the project readme, have you tried that?

[2018-07-23 17:07] plata opened #12 "Unclear software structure"
To me, the structure of the software is a bit unclear:

- The files in DIS7 are including `<DIS/...>`. This is probably not intended.
- The directories in `cpp` and `CppUtils` are both called `DIS`. What will happen if a file with the same name exists in both directories (i.e. `#include <DIS/...>` might easily include the wrong file)?

As a result of this: How should, in your opinion, open-dis-cpp

[2018-07-23 19:10] leif81 commented on #12
Thank you for the report @plata

You're totally right. Yes, I think it'd be a good idea to move things around a bit to start with.

Maybe something like this:

`cppUtils/DIS` -> `src/utils`
`cpp/DIS` -> `src/dis6`
`cpp/DIS7` -> `src/dis7`
`UnitTestDIS` -> `test`
`Example` -> `examples`

Would you like to submit a PR for that?

[2018-07-23 20:48] leif81 commented on #11
@EricaAngle I'm going to close this one. Feel free to reopen if it's still affecting you.

[2018-07-23 20:48] #11 closed

[2018-07-26 01:23] leif81 commented on #12
Should we keep this one open or do those changes help enough to close?

[2018-07-26 14:31] plata commented on #12
Packages would still be nice but I can open a separate issue for that.

[2018-07-26 14:31] #12 closed

[2018-07-26 14:35] plata opened #14 "Build packages (e.g. RPM/DEB)"
There should be 3 packages:
- utils
- dis6 (requires utils)
- dis7 (requires utils)

I'm not sure if/how this is possible with premake. An alternative would be CMake (CPack).

These packages could then also be released via GitHub releases.

[2018-09-18 21:49] DaveL1292 commented on #6
So is the issue with the VariableDatum resolved for dis7?
I still get a compile error that _variableDatums is not defined.

If I comment out all references to _variableDatums it will compile, but not link.... Not sure if I am missing somehtign else as well. I downloaded this 3 days ago and I am building it as x64 / Debug with VS2107.

[2018-12-14 16:37] plata opened #15 "SIGSEGV if receiving PDU with unknown type"
see https://github.com/open-dis/open-dis-cpp/blob/05aa32c59397b7c889a6b603a6327c69ae0b4420/src/utils/IncomingMessage.cpp#L64

The code checks if `pdu` is valid but dereferences it nonetheless if it is not.

[2018-12-14 16:39] plata opened #16 "PDU type must be unsigned char"
see https://github.com/open-dis/open-dis-cpp/blob/05aa32c59397b7c889a6b603a6327c69ae0b4420/src/utils/IncomingMessage.cpp#L38

This doesn't work if PDU type is > max signed char (e.g. 250).

[2018-12-14 16:44] plata opened #17 "Rework PDUBank handling"
Currently, the PDUBank (and thus the available PDUs) is hardcoded in https://github.com/open-dis/open-dis-cpp/blob/05aa32c59397b7c889a6b603a6327c69ae0b4420/src/utils/IncomingMessage.cpp#L46

As a consequence, it is not possible to use a different PDUBank without changing the code. However, this is required e.g. to use DIS 7 PDUs.

I suggest to implement the PDUBank handling in a similar way to the

[2018-12-14 16:46] plata opened #18 "Resolve dependencies between PDUs and utils"

[2018-12-15 02:20] leif81 commented on #18
Thank you @plata for the bug reports.

Pull requests are welcome, are you interested?

[2018-12-15 08:52] plata commented on #18
@leif81 I'm sorry but I cannot provide pull requests (at least currently). Nevertheless I hope that I've pointed out the issues and possible solutions in a way that enables others to solve them without too much trouble.
I'll be happy to participate if I get the possibility to do so in the future.

[2018-12-15 12:36] leif81 commented on #18
Thank-you for being honest!

[2018-12-18 17:30] plata opened #19 "Performance: do not unmarshal PDU if no processor assigned"
see https://github.com/open-dis/open-dis-cpp/blob/05aa32c59397b7c889a6b603a6327c69ae0b4420/src/utils/IncomingMessage.cpp#L50

[2019-03-29 16:55] olaughlj opened #21 "Electronic Emissions classes mis-named"
The Electronic Emission classes are misnamed as they are designated Electromagnetic Emission in the DIS standard.

[2019-05-21 03:42] BenMueller commented on #3
This has been a particular point of annoyance recently- ripping HawkNL out of old projects is rather fun I can tell you :wink: that said it would seem to me the primary advantage of HawkNL was the simple bidirectional (capable of sending and receiving on the same socket) nature of the library. Any good reasons we can't just use the standard sockets for basic functionality?

I've made fork to exper

[2019-05-21 16:30] leif81 commented on #3
Hi @BenMueller

Using standard sockets seems like a great idea. That way we don't give impression HawkNL (or some other complex third party networking library) is required if it's not. Please feel free to submit a pull request with standard sockets.

[2019-05-23 02:27] leif81 commented on #3
@benmueller did you see PR #22 yet?

[2019-05-25 12:17] leif81 commented on #3
@BenMueller are you related to PR #22 that came in this week? It's a replacement of HawkNL with SDL_Net library. It looks pretty solid to me and it would satisfy this issue. I'm leaning towards merging that, if you have further improvements please feel free to create another PR.

[2019-05-25 14:46] #3 closed

[2019-06-18 18:00] craffty opened #23 "Reciever is spelled incorrectly"
ExampleReciever should be corrected to ExampleReceiver

[2019-06-19 11:25] leif81 commented on #23
Closed in pr #24.

[2019-06-19 11:25] #23 closed

[2019-07-05 10:00] manu-SSG opened #25 "Error while building DIS7 Win10 - mingw730_64"
Hello,

I'm trying to build library in DIS7 on Win10 with mingw730_64 and have the following error :

Indeed, the variable `_variableDatums` is not declared in the header file and not initialize in the constructor.

After adding it in both file, i have an other error :

The header `variableDatum.h` don't include ` 'EightByteChunk' `

After adding it, I have the following error :

         EightByt

[2019-07-08 18:16] leif81 commented on #25
Thank you for the report @manu-SSG

I'll be honest, for my use case I only use DIS6, so I'm not surprised you found an issue with the DIS7 code.

I like your suggestion to setup appVeyor, I will try to look into that in the near future.

[2019-08-25 18:12] #15 closed

[2019-08-25 18:12] #16 closed

[2019-08-25 18:12] #19 closed

[2019-09-16 19:55] joe-sonrichard opened #28 "Linux build instructions fail"
### DESCRIBE THE BUG
Linux build instructions fail.

### STEPS TO REPRODUCE
Steps to reproduce the behaviour:
1. Clone the repo.
2. Put premake5 in a folder included in $PATH environment variable.
3. Run `premake5 gmake` in repo root directory.
4. Run `make config=release` and observe error.

### EXPECTED BEHAVIOUR
Make command succeeds.

### ACTUAL BEHAVIOUR
Make fails fatally due to undocumented

[2019-09-16 20:01] joe-sonrichard opened #29 "Compile warnings because singed/unsigned integer comparisons."
### DESCRIBE THE BUG
Unsigned/Signed integer compare compile warning.

### STEPS TO REPRODUCE
Steps to reproduce the behavior:
1. Clone the repo
2. Put premake5 in a folder included in $PATH environment variable.
3. Run `premake5 gmake` in repo root directory.
4. Run `make config=release` and observe compile errors.

### EXPECTED BEHAVIOUR
Make works without error or warning.

### ACTUAL BEHAVIOUR

[2019-09-17 01:22] leif81 commented on #28
@joe-sonrichard you're right the SDL dependency should be documented in the readme. Until that's done take a look a the travis config for how we setup the build environment.

https://github.com/open-dis/open-dis-cpp/blob/master/.travis.yml

[2019-09-17 01:30] #28 closed

[2019-09-18 17:09] joe-sonrichard commented on #29
@leif81 I can fix that - I already fixed it for my company. Would you like me to create a fork and make the changes there?

[2019-09-18 17:31] joe-sonrichard commented on #29
@leif81 See pull request https://github.com/open-dis/open-dis-cpp/pull/30.

[2019-09-18 17:53] joe-sonrichard commented on #18
@plata or @leif81 - Can someone describe the cyclic dependencies? I'm not seeing them.

[2019-09-19 17:12] plata commented on #18
Maybe the wording is not quite correct. It's not that A includes B and B includes A. I was referring more to the dependencies if you look at it from a package/library perspective (i.e. utils as one library and the PDUs as another). In this case there's no clear relationship like utils links PDUs or PDUs links utils because both depend on each other.
Currently, this works because everything in dis6

[2019-09-24 16:04] PeterSassaman commented on #25
I believe

#include <dis7/EightByteChunk.h>

std::vector<EightByteChunk> _variableDatums;

can be added to VariableDatum.h to solve that issue.

I think the lines referencing resupplycancelpdu also have to be removed from PDUBank.cpp

The other thing is that all the dis6/ have to be changed to dis7/ in the utils.  Is there any way to have all of these changes produced by the premake file?

[2019-09-24 20:02] PeterSassaman commented on #18
Yeah if this could be resolved it would be awesome! I would like to be able to use both if possible.

[2019-10-10 00:34] #29 closed

[2019-10-10 00:35] #6 closed

[2019-10-11 10:50] phoppermann opened #34 "Change settings to merge PRs with squash and merge"
Avoid that PR merges clutter the [commit history](https://github.com/open-dis/open-dis-cpp/commits/master) (e.g. the merge of #31).

see https://help.github.com/en/articles/configuring-commit-squashing-for-pull-requests

[2019-10-16 02:16] leif81 commented on #34
We have the "allow squash merging" enabled as an option on PR's.

Obviously I don't use it often when merging! I do appreciate a clean history a lot, and I used to feel very strongly about it, but I've shifted slightly and now I also appreciate the detailed history of the unsquashed merge.

Best of both worlds I think would be if git tooling was better and enabled us to click on the merge commit i

[2019-10-16 02:16] #34 closed

[2019-10-16 07:10] phoppermann commented on #34
It was just a proposal. Like I said, I prefer the clean history over the detailed history.

In the end it's of course your decision what you like to see in your repository :wink:.

[2019-10-23 02:34] leif81 commented on #17
@phoppermann was this fixed by #32 ?

[2019-10-23 07:20] phoppermann commented on #17
Yes.

[2019-10-24 01:26] #17 closed

[2020-01-22 05:37] rodneyp290 opened #36 "CMake Build Pull Requests - Discussion"
I saw the recent CMake Pull Request #35, and after seeing @leif81's comments and questions, as well as the previously unaccepted CMake pull request #33, I thought it would be useful to create an issue for it to be discussed.
One query from Lief was if CMake worked well with Visual Studio, and in the past I have found it was quite well across platforms.
The second query was if CMake is typically ve

[2020-01-22 05:59] rodneyp290 commented on #36
Some key decisions:
How many libraries are required?
  - [ ] OpenDIS6
  - [ ] OpenDIS7
  - [ ] OpenDIS-utils
What distro package files should be created?
  - [ ] Debian derivatives (.deb)
  - [ ] RedHat derivatives (.rpm)
Following the last question, what should be packaged?
  - Libraries, yes
  - header files, yes
  - Example Applications, probably not. **NOTE:** This is the only thing with the S

[2020-01-29 03:19] leif81 commented on #36
Hi @rodneyp290 thank-you for doing this analysis.

Your simplistic 50 line CMakeLists.txt has me interested. I would feel good about using this as the starting point for migrating from Premake to CMake and then addressing the other limitations you identified as separate issues and PR's where we can have a discussion.

Would you mind turning your simple CMake file into a PR and go so far as getting

[2020-01-29 12:22] rodneyp290 commented on #36
Okay, working on it at https://github.com/rodneyp290/open-dis-cpp/tree/cmake.
I think I just gotta update the README - I was able to add in the CPack package target, and it is still only 63 lines.
I might also add some comments to the CMakeList.txt to make it easier to understand.

[2020-01-29 13:35] leif81 commented on #36
Sounds good! When it's ready open a pull request here and I'll take another look.

[2020-03-04 13:50] rodneyp290 commented on #36
Hey, apologies for delays. Just a quick update.

I tried to write the instructions a while ago, and thought I better actually run it on window / visual studio. Thinks didn't quite work as nicely as expected.

Since then I've only recently, got around to debugging and fixing up the windows issues - and then fixes issues caused in linux, and ensure making sure it builds on travis-ci , and repeating

[2020-03-05 03:01] leif81 commented on #36
Ok thank you for the update @rodneyp290 . Your effort is appreciated, a number of people in the community are interested in CMake now.

[2020-04-01 02:43] leif81 opened #38 "DIS7 build error on Windows"
Building results in what looks like the same 97 error for the OpenDIS7 project - a bunch of LNK2019 & LNK2001 errors.

MS Windows VM - https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/

_Originally posted by @rodneyp290 in https://github.com/open-dis/open-dis-cpp/pull/37#issuecomment-606974306_

[2020-04-01 02:45] leif81 commented on #14
@plata Work relating to this was done in #37 . Take a peek at the result. Closing.

[2020-04-01 02:45] #14 closed

[2020-04-01 02:47] leif81 commented on #36
Closed by #37 which was just merged in.

[2020-04-01 02:47] #36 closed

[2020-04-01 03:04] rodneyp290 commented on #38
The errors are related to #18, as the OpenDIS7 considers `utils/*.cpp` as source files that include some OpenDIS 6 (`dis6/*.h`) files.
I was able to build the OpenDIS7 with the patches below for CMake, and Premake, although that is just building it and I'm not sure it works as intended.
CMake patch:
[code]
Premake patch
[code]

[2020-04-01 03:13] rodneyp290 commented on #38
If you want to bundle all the Utils into OpenDIS7 library, then the above isn't a suitable solution as it only includes the DataStream class, and Endian enum that it requires.
Just noticed as I'm typing that the Endian enum still includes the `dis6/msLibMacro.h`, however that isn't a problem because the `dis*/msLibMacro.h` files are exactly the same, and shouldn't interfere with each other. Might

[2020-04-01 03:18] leif81 opened #39 "Setup AppVeyor CI for the Windows build"
One day we can look at hooking up AppVeyor CI for the Windows build, just like we do with Travis for Linux.

Would be nice to have both setup to build on every change.

https://www.appveyor.com

_Originally posted by @leif81 in https://github.com/open-dis/open-dis-cpp/pull/37#issuecomment-599203893_

[2020-04-01 03:28] rodneyp290 commented on #25
I was looking into this in relation to #38 to see if it was related, but I believe this was resolved in commit d51455fd, merged in #31.

[2020-04-01 03:29] leif81 commented on #25
Great. Thank-you @rodneyp290 for identifying that. Lets close this then.

[2020-04-01 03:29] #25 closed

[2020-06-17 02:05] treybgreen opened #40 "SEGFAULT without extra processor"
OpenDIS segfaults on IncomingMessage::SwitchOnType (called by IncomingMessage::Process). Have come across this once on Windows and once on RHEL. First was while processing the [DetonationPdu][Detonation] on Windows and second time was while processing [EntityStatePdu][EntityState] on RHEL. (Using DIS6)

https://github.com/open-dis/open-dis-cpp/blob/63b22b62f737d6e674b1aeb54769247c2334d033/src/util

[2020-06-30 02:19] leif81 commented on #21
Should be fixed by above pull request.

[2020-06-30 02:19] #21 closed

[2020-07-09 14:30] rodneyp290 commented on #40
Hi @treybgreen, do you know if there is a reliable way to reproduce the error for debugging purposes?
If not, can you describe the conditions in which the error occurred? (i.e. rough traffic load - possibly per PDU type, number different PDU type processors used, etc)

[2020-07-15 01:50] treybgreen commented on #40
This bug is consistent every time I run my code. I'll see what I can get you @rodneyp290.

[2021-01-19 15:53] kurtsansom opened #45 "Issues following dis6 versus dis7"
I am trying to better understand the dis6 and dis7 implementations, but there appears to be a lot  of overlap or duplication or things missing from one to the other.

 My original thought was to create a common directory that would hold all the classes that are common to both versions, but have hit some roadblocks.

An an example would be the PDU header. the main difference i see is a variable tha

[2021-01-19 23:46] rodneyp290 commented on #45
DISCLAIMER: I haven't looked at the XML specification, I've only worked on the generated C++

However, I believe the C++ Code was generated with [XMLPG (XML Multi-Language Protocol Generator)](https://github.com/open-dis/xmlpg), from the [DISDescription](https://github.com/open-dis/DISDescription) repo.

I doubt it was generated by the [https://github.com/open-dis/open-dis7-source-generator](open-

[2021-01-21 18:02] kurtsansom commented on #45
based on an issue here: https://github.com/open-dis/xmlpg/issues/21
it looks like the `xmlpg/DIS2012.xml` and the one over in `DISDescription/DIS7.xml` differ. But at what point they diverged,  and at what state of those files when they were used to generate the code I don't know.

[2021-02-10 15:08] kurtsansom opened #46 "building and running the tests"
The test directory has some test code in it, but the instructions are very vague.
it references cppunit, and set the path for cppunit.

It doesn't appear there are any build instructions.

how how would it be to add this to the cmake and enable a test variable?

is anyone using using the test directory?

[2021-02-11 02:39] leif81 commented on #46
@kurtsansom the cppunit tests folder was contributed to the project by the original maintainer years ago. travisci and cmake were added afterwards to the project and were not setup with the cppunit tests yet.

This library is 100% dependent on contributions from users. So any kind of contributions in the form of a pull request to setup the cppunit tests, with cmake and travis would be very welcome

[2021-02-17 22:33] kurtsansom opened #47 "example usage of std::vector<OneByteChunk>"
I have what feels like a dumb question.

I want to populate a variable length PDU SignalPdu with "fake" data and test it out.

e.g. I want to send an array of Ints, or 1 int for now.

I know that 1 int should get packed into a char array of size 4, int32 would be four bytes where each byte is an instance of `OneByteChunk` in the std::vector which should then be of size 4.

I am confused how to do

[2021-02-18 05:47] rodneyp290 commented on #47
I had a fiddle, an was able to come up with the below example - using the DataStream DIS util:
[code]
Does that help with your question?

Basically, push your integer(s) into a data stream. Then unmarshal into single `OneByteChunk`, and store in your vector. Keep unmarshalling until you've read the whole data stream.

Note: Includes are weird because I moved to another folder to test.

[2021-02-19 15:07] kurtsansom commented on #47
This is exactly what I was struggling with. Thank you very much.

Every time I was reading about a "stream", it was in the context of sending it over a network. But this example describes what I was looking for. Using a datastream to pack (serialize?) c++ data into another data structure `chunks`. Where the `chunks` is the one that gets sent not a raw stream.

I am going to add this example into m

[2021-02-19 15:42] kurtsansom commented on #47
What would be the extension to this for a struct of data?
I think it would be to create a new class like `OneByteChunk` or `Vector3Double`  e.g. `somedatatype`

and replace this:

[code]

with:

[code]

Is this the right direction?

[2021-02-19 16:03] kurtsansom commented on #47
are Marshalling/Unmarshalling  synonyms with serialization and de-serialization?

[2021-02-20 05:42] rodneyp290 commented on #47
Yeah, you're change for a new data type looks like it should work.
Yeah, they seem pretty interchangeable, although skim reading this Wikipedia article [here](https://en.wikipedia.org/wiki/Marshalling_(computer_science)) suggests there might be subtle differences.

[2021-02-24 10:42] DPD85 opened #48 "EntityStatePdu wrong marshalled size calculation (number of articulation parameters)"
Inside the implementation of EntityStatePdu I discovered that the marshalled size of the PDU is calculated assuming to be present always only one articulation parameter. This is true for DIS6 and DIS7.

[code]

As is possible to see the number of articulation parameters is stubbed to one when instead it should be _articulationParameters.size().

[2021-02-27 04:11] leif81 commented on #47
In open-dis-java we removed the OneByteChunk class and swapped it for a raw byte type. Probably worth doing same here.

Ref https://github.com/open-dis/open-dis-java/pull/44

[2021-02-27 04:12] leif81 commented on #47
If someone wants to open a PR for replacing OneByteChunk I'll gladly merge!

[2021-02-27 04:13] leif81 commented on #48
Thank-you for this report @DPD85 . Would you be interested in submitting a PR to fix this?

[2021-03-01 09:27] DPD85 commented on #48
@leif81 I did it.

[2021-03-16 08:16] phoppermann opened #51 "include guards should contain namespace"
to avoid potential name clashes

e.g. in
https://github.com/open-dis/open-dis-cpp/blob/a9f9f26cb5eff47235559135f39c47ac57a82add/src/dis6/AcknowledgePdu.h#L2

`ACKNOWLEDGEPDU_H` to `DIS_ACKNOWLEDGEPDU_H`

alternatively: use `#pragma once`

[2021-03-16 08:20] phoppermann opened #52 "Use "" for local includes"
e.g. in
https://github.com/open-dis/open-dis-cpp/blob/a9f9f26cb5eff47235559135f39c47ac57a82add/src/dis6/AcknowledgePdu.cpp#L1

`#include <dis6/AcknowledgePdu.h>` to `#include "AcknowledgePdu.h"`

[2021-03-16 17:59] DPD85 commented on #48
@leif81
It is necessary to revert this because

this is the size of the variable containing the number of articulation parameters and not the number of articulation parameters.
So if you marshal the PDU and compare the size of the buffer with the marshalled size then you will find a difference of 1 byte.

Sorry for the mistake! :-(

[2021-03-16 19:01] leif81 commented on #48
Ok thanks for heads up. Can you submit a pull request? I'll merge it when it comes in.

[2021-03-16 19:01] leif81 commented on #48
Or did you want the whole original pull request reverted?

[2021-03-17 09:30] DPD85 commented on #48
You can revert the entire original pull request

[2021-03-17 14:53] #48 closed

[2021-03-17 14:54] leif81 commented on #48
Thank-you @DPD85 , the revert is don now.

[2021-03-22 14:46] semihkurt opened #54 "TransmitterPDU is missing on dis7"
TransmitterPdu is missing on include/dis7 though it is not deprecated in DIS  7 officially . In addition to this, it exists on Java repository  [OpenDIS Java](https://github.com/open-dis/open-dis-java/tree/master/src/main/java/edu/nps/moves/dis7).

I am implementing DIS by using this repository thanks to you, I realized that something is missing in Radio Transmission part because newly added PDUs

[2021-03-25 01:18] leif81 commented on #54
@semihkurt thank-you for this report.

What you'll want to do is fork this repository into your user space, make the change in a branch there, and then submit a pull-request of that.

More info on that here:

https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests

[2021-03-26 14:28] semihkurt commented on #54
@leif81 Hello,
I've started to update TransmitterPdu in my fork and will put a pull request, thanks.

I found a document that compares dis 6 and dis 7 changes.  Could you validate this document whether it is correct [DIS v6 v7](https://www.sisostds.org/DesktopModules/Bring2mind/DMX/API/Entries/Download?Command=Core_Download&EntryId=36292&PortalId=0&TabId=105) because there are some additions requi

[2021-03-27 02:34] leif81 commented on #54
Yes that document is a good source for what's different between v6 and v7.

[2021-03-31 12:04] leif81 commented on #52
Thanks @phoppermann , would you like to submit a small pull request for this?

[2021-03-31 12:12] DaveL1292 opened #56 "When will DIS7 be fully functional?"
I know there has been a lot of churn in the DIS7 implementation in recent months, but when is this anticipated to be fully DIS7 compliant? Thank you

[2021-04-01 00:20] rodneyp290 commented on #52
`#include <dis6/AcknowledgePdu.h>` seems to be the convention in all the dis6 & dis7 cpp files at the moment.
I'm assuming convention is actually from the initial XML generated cpp as that's the style used in the initial check in
https://github.com/open-dis/open-dis-cpp/blob/a2525d676fac6de4f6d94a003e23fbdfca06b6f3/cpp/DIS/AcknowledgePdu.cpp#L1

Is there any particular reasoning for/against changi

[2021-04-01 00:34] rodneyp290 commented on #51
I wrote this script which seems to make the right changes, but thought it might be best to wait for the current PRs to be resolved first, committing and making a PR. Putting here for safe keeping, and further discussion.

Although maybe the `#pragma once` is worth a look, I always thought that was an exclusive MSVC++ thing, but apparently it is [supported by other compilers ](https://en.wikipedia.

[2021-04-01 14:12] semihkurt commented on #54
Thanks for validating the document Leif. I've made some initial changes on TransmitterPDU and made a pull request. If you allow me, I can contribute more as I currently work on DIS domain. I'm gonna add more missing PDUs into my fork and create new pull requests on further days.

By the way, when should I close this thread ? After merge or something?

[2021-04-02 02:46] leif81 commented on #54
Sounds great. Yes let's leave open until merge .

[2021-04-09 19:15] semihkurt opened #58 "IFF PDU is missing on both DIS 6 and DIS 7"
Hello,

Thanks for your contribution. As in my company needs DIS implementation, I currently work on DIS by using repository. When I encounter with some missing PDUs, I wanted to contribute as well.

According to these two documents from SISO, there should be IFF PDU:
1) [DIS v6-v7](https://www.sisostds.org/DesktopModules/Bring2mind/DMX/API/Entries/Download?Command=Core_Download&EntryId=36292&Port

[2021-04-09 19:19] semihkurt commented on #54
Hey Leif,

In order for you to review two pull requests seperately, I've closed my Transmitter PDU pull request, after I finish it completely I am gonna open a new pull request from seperate branch.

[2021-04-15 07:50] phoppermann commented on #52
@rodneyp290 yes, it works normally. However, the include syntax with `<>` suggests that it's a system include (which is not the case here). See also https://gcc.gnu.org/onlinedocs/cpp/Include-Syntax.html.
Apart from theoretical considerations, this can also have practical consequences e.g. in the following case: If you have installed OpenDis on your system and build it, the compiler might use the

[2021-04-15 07:53] phoppermann commented on #51
`#pragma once` would be fine for me as well. @leif81 what do you think?

This should be implemented in xmlpg as well.

[2021-04-15 11:13] leif81 commented on #52
I think the use of <> is the right one. Open DIS is a library that will get installed on the system e.g. /usr/local/include/dis6/Acknowledge.h. Then in your app you would do #include <dis6/Acknowledge.h> and it just works because that's a standard system search path no?

[2021-04-15 11:19] leif81 commented on #52
In the early days the files were repeatedly  generated by xmlpg and blindly overwritten everything here, but that no longer is the case. Corrections and improvements are being made directly to the source now.

[2021-04-15 11:30] leif81 commented on #51
#pragma once looks like it has very good compiler support now so that seems like a good option to me too. Feel free to submit PR for that.

[2021-04-15 11:37] leif81 commented on #56
@DaveL1292  good question. To be honest I'm not sure. More attention has gone into DIS6 implementation. But what would help is users trying DIS7 out and reporting issues here. As well as submitting unit tests examples with sample DIS7 pdus to verify the implementation.

[2021-04-15 11:41] leif81 commented on #45
@rodneyp290  is right it was generated with xmlpg. I've lost track of which input file it used and at which version. But it's been years.sincr it was last run. I supppse running xmlpg now and doing a diff against here would give indication but so many changes have been made directly to the source here that it would be a big job to review and sort out.

[2021-04-16 01:37] #58 closed

[2021-04-19 11:13] phoppermann commented on #52
Yes. However, that's not the point of the discussion. It's about the includes **inside** Open DIS.

[2021-04-19 11:25] phoppermann commented on #51
@rodneyp290 could you change your script to use `#pragma once`?

[2021-04-20 06:42] rodneyp290 commented on #51
Took a little bit of fiddler to get it right, but I think this replaces and delete all the necessary lines.
I realised the the previous script missed a few files (Vector3 type files), so I hope this isn't missing anything.
But it was still able to compile after running the script so I think it is good.
[code]

[2021-04-20 19:30] leif81 commented on #51
I'm on "vacation" this week away from my PC. Can you run the script and submit the change as a PR? I'm available to click merge.

[2021-04-22 00:00] rodneyp290 commented on #51
Turns out I had @kurtsansom's #44 PR checked out when writing the script, so I'd prefer to wait until that is completed, and then merged.
But I might try rewrite it and apply it over the weekend, and then test locally if the branches will merge nicely.

[2021-04-25 01:21] rodneyp290 commented on #51
Turns out I underestimated git merge, as it merged almost flawlessly.
There was a merge conflict merging in #44 because I had changed the guard on src/dis7/msLibMacro.h, which is removed by #44.

So I deciding to leave that file with include guards, so that when #44 merges with the click of a button.
I even tested a merge with @kurtsansom's current [wip](https://github.com/kurtsansom/open-dis-cpp/

[2021-09-15 12:04] leonardooyama opened #63 "Add open-dis-cpp to vcpkg"
What about including the port of open-dis-cpp tp vcpkg (https://github.com/microsoft/vcpkg#contributing)?

[2021-11-01 17:05] griffinmilton3 opened #64 "Ubuntu 20.04 package issue"
Hello. I am able to run `make` without any issues, both .so files and examples build. However, when I try to run `make package`, cmake errors trying to build the RPM file. Is there a package that needs to be installed in order to continue?

[code]
[code]

[2021-11-01 22:17] rodneyp290 commented on #64
Ideally the CMAKE to have a variable set up, but for now you can edit [Line 171](https://github.com/open-dis/open-dis-cpp/blob/master/CMakeLists.txt#L171) in the CMakeList.txt file, so that it just says:
```set(CPACK_GENERATOR "DEB")```

I think that should work.

[2021-11-01 22:22] rodneyp290 commented on #64
Or to actually answer your question, sorry, you should be able to install `rpm`, in case you want to generate rpm files :)

[2021-11-01 23:10] griffinmilton3 commented on #64
All our targets are Debian based so this is the solution I needed. Thank you.

[2021-11-01 23:10] #64 closed

[2021-11-18 21:42] leif81 commented on #63
@leonardooyama I like this idea a lot but I don't yet know how much effort it'll be. Have you experience?

[2021-11-18 21:48] CarlosSprekelsen opened #65 "IFFPdu bug on SystemIdentifier.h and SystemIdentifier.cpp"
I tried to implement the IFFPdu, but it failed to form a correct stream. I managed to identify the issue with the code.
Under SystemIdentifier _systemMode shall be 8-bit, but it is defined as a unsigned short (16bit).
The correct declaration should be :

`unsigned char _systemMode; `

and corresponding gets and sets should change accordingly.

[2021-11-19 01:48] leif81 commented on #65
Thanks for the report @CarlosSprekelsen

Would you like to submit a pull request with the fix? I can review and merge.

[2021-11-27 17:05] leif81 commented on #39
This was done a while ago.

[2021-11-27 17:05] #39 closed

[2021-12-07 12:31] leonardooyama commented on #63
Will learn about it.

[2022-01-22 02:32] #65 closed

[2022-05-25 20:34] shadow88s opened #70 "passing std::vector<ArticulatedPart> by ref in EntityStatePdu setter function."
I'm having trouble passing a std::vector from a QT project to the setter function by reference. compiling the projects with C++14 and MSVC 2019 Debug mode.

These are the functions I'm trying to use from the EntityStatePdu class:
    std::vector<ArticulationParameter>& getArticulationParameters();
    const std::vector<ArticulationParameter>& getArticulationParameters() const;
    void setArticula

[2022-05-25 23:27] rodneyp290 commented on #70
If your using a different compiler in your Qt project, there may be a possibility is in compatible :shrug:
Assuming you're using Qt Creator for the Qt project, you should also be able to use the CMake to compile OpenDIS in Qt Creator, thus using the same compiler.

However, it's a bit unclear what issue your describing without any error message, or code context.

[2022-07-12 22:03] shadow88s commented on #70
@rodneyp290 . Thank you! User Error, I was trying to use premake5 instead of CMake to configure/generate the make file and build/complie the MSVC Solution file.  Using CMake with the debug, x64 configuration matching my project fixed it.

[2022-07-12 22:03] #70 closed

[2022-07-19 15:18] quonn77 opened #71 "DIS7 - SetDataPdu - Access to _variableDatums"
How can I access to the raw data inside the variable datum? Looking at the code I am a little confused.
I mean SetDataPdu contains a std::vector<VariableDatum> and I can access to it but inside the VariableDatum I found the following

[code]

Looking on the standard, AFAIK or let me say as far as I understand, I don't see reference to EightByteChunk  _variableDatums even if you marshal and unmarsh

[2022-07-27 14:51] quonn77 commented on #71
I would like to inform that I am working on a fork trying to fix those issues I found with DIS7.
When I will be ready i will ask for a merge request.

[2022-07-28 13:26] leif81 commented on #71
@quonn77 I think you're on the right track. Quite a bit of work was done to improve the Java and C++ language implementations, but this may be one of those cases where an improvement was done in one language and not the other yet. If that's the case here, I suggest trying to backport the change done to the Java SetDataPdu into the C++ SetDataPdu. And yes a pull request would be very welcome!

It s

[2022-07-28 16:00] quonn77 commented on #71
@leif81 I will take definitively a look into it, I am working on a fork repo to fix those issues. So as soon I have terminated the development I will get in touch with you to let review my changes.

[2022-11-11 20:30] quonn77 commented on #71
@leif81 I would just like to inform you, that I have started again to work on the Open-dis-cpp about aligning the DIS7 PDU with the IEEE Std 1278.1-2012 specification.  I have switched, until now, to another project so sorry for the late delay.
I have some working code for the SetData, StartResume and StopFreeze Pdu, as soon as I will do some code cleanup i will share my work on the forked repo

[2022-11-15 16:38] quonn77 commented on #56
@DaveL1292 I'm working on my fork on the DIS7 implementation, please check my fork at the moment.